# 目标平台相关配置
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m-nand=y

# 通用工具及核心配置
CONFIG_IPTABLES_NFTABLES=y
CONFIG_LUCI_CSSTIDY=y
CONFIG_LUCI_JSMIN=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_coreutils-stat=y
CONFIG_PACKAGE_coreutils-stty=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_irqbalance=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_nft-qos=y
CONFIG_PACKAGE_nftables-nojson=y
CONFIG_PACKAGE_ruby=y
CONFIG_PACKAGE_ruby-bigdecimal=y
CONFIG_PACKAGE_ruby-date=y
CONFIG_PACKAGE_ruby-digest=y
CONFIG_PACKAGE_ruby-enc=y
CONFIG_PACKAGE_ruby-forwardable=y
CONFIG_PACKAGE_ruby-pstore=y
CONFIG_PACKAGE_ruby-psych=y
CONFIG_PACKAGE_ruby-stringio=y
CONFIG_PACKAGE_ruby-strscan=y
CONFIG_PACKAGE_ruby-yaml=y
CONFIG_PACKAGE_script-utils=y
CONFIG_PACKAGE_ddnsto=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_taskd=y
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_vlmcsd=y
CONFIG_PACKAGE_xfs-mkfs=y
CONFIG_PACKAGE_xz=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_socat=y

# 内核模块相关配置
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-fast-classifier=m
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-ntfs=m
CONFIG_PACKAGE_kmod-fs-xfs=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-raw6=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-log6=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nf-reject6=y
CONFIG_PACKAGE_kmod-shortcut-fe=y
CONFIG_PACKAGE_kmod-shortcut-fe-cm=y
CONFIG_PACKAGE_kmod-tcp-hybla=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-lib-textsearch=y
CONFIG_PACKAGE_kmod-nf-flow=y

# 库文件相关配置
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libblkid=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_libcap-bin-capsh-shell="/bin/sh"
CONFIG_PACKAGE_libcomerr=y
CONFIG_PACKAGE_libext2fs=y
CONFIG_PACKAGE_libgmp=y
CONFIG_PACKAGE_libinih=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libnettle=y
CONFIG_PACKAGE_libnftnl=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libruby=y
CONFIG_PACKAGE_libsmartcols=y
CONFIG_PACKAGE_libss=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_liburcu=y
CONFIG_PACKAGE_libyaml=y
CONFIG_PACKAGE_libzstd=y
CONFIG_PACKAGE_libpcre=y

# LuCI 应用相关配置
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-timecontrol=y
CONFIG_PACKAGE_luci-app-ddnsto=y
# CONFIG_PACKAGE_luci-app-unblockneteasemusic=n
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-nft-qos=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-ikoolproxy=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-store=y
CONFIG_PACKAGE_luci-app-linkease=y
CONFIG_PACKAGE_luci-app-quickstart=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-gowebdav=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-vssr=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin=y
# CONFIG_PACKAGE_luci-app-wolplus=n
CONFIG_PACKAGE_luci-app-argone-config=y
CONFIG_PACKAGE_luci-app-socat=y

# LuCI 国际化相关配置
CONFIG_PACKAGE_luci-i18n-eqos-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vsftpd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-timecontrol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-parentcontrol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ikoolproxy-zh-cn=y
CONFIG_PACKAGE_luci-i18n-autotimeset-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wechatpush-zh-cn=y
CONFIG_PACKAGE_luci-i18n-gowebdav-zh-cn=y
# CONFIG_PACKAGE_luci-i18n-unblockneteasemusic-zh-cn=n
CONFIG_PACKAGE_luci-i18n-parentcontrol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ddnsto-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vssr-zh-cn=y
# CONFIG_PACKAGE_luci-i18n-wolplus-zh-cn=n
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=y
CONFIG_PACKAGE_luci-i18n-socat-zh-cn=y

# LuCI 库和主题相关配置
CONFIG_PACKAGE_luci-lib-taskd=y
CONFIG_PACKAGE_luci-lib-xterm=y
CONFIG_PACKAGE_luci-theme-argone=y
CONFIG_PACKAGE_luci-theme-design=y
CONFIG_PACKAGE_luci-theme-bootstrap=y

# WiFi 相关配置
CONFIG_PACKAGE_wpad-basic=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_kmod-ath=y
CONFIG_PACKAGE_kmod-ath9k=y

# 其他配置
CONFIG_TARGET_ROOTFS_PARTSIZE=256
CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_ZSTD_OPTIMIZE_O3=y

# 注释掉的配置项
# CONFIG_PACKAGE_MAC80211_MESH is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FLOW_OFFLOADING is not set
# CONFIG_PACKAGE_coremark is not set
# CONFIG_PACKAGE_coreutils-base64 is not set
# CONFIG_PACKAGE_ddns-scripts is not set
# CONFIG_PACKAGE_ddns-scripts-services is not set
# CONFIG_PACKAGE_ddns-scripts_aliyun is not set
# CONFIG_PACKAGE_ddns-scripts_dnspod is not set
# CONFIG_PACKAGE_dns2socks is not set
# CONFIG_PACKAGE_dns2tcp is not set
# CONFIG_PACKAGE_etherwake is not set
# CONFIG_PACKAGE_filebrowser is not set
# CONFIG_PACKAGE_htop is not set
# CONFIG_PACKAGE_iptables-mod-iprange is not set
# CONFIG_PACKAGE_iptables-mod-socket is not set
# CONFIG_PACKAGE_kmod-nf-conntrack-netlink is not set
# CONFIG_PACKAGE_kmod-nf-nathelper is not set
# CONFIG_PACKAGE_kmod-nf-nathelper-extra is not set
# CONFIG_PACKAGE_kmod-nf-socket is not set
# CONFIG_PACKAGE_libev is not set
# CONFIG_PACKAGE_libpcre2 is not set
# CONFIG_PACKAGE_libsodium is not set
# CONFIG_PACKAGE_libudns is not set
# CONFIG_PACKAGE_lua-neturl is not set
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-control-weburl=n
# CONFIG_PACKAGE_luci-app-advanced=n
# CONFIG_PACKAGE_luci-app-autotimeset=n
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
# CONFIG_PACKAGE_luci-app-nft-qos is not set
# CONFIG_PACKAGE_luci-app-upnp is not set
# CONFIG_PACKAGE_luci-app-wechatpush=n
# CONFIG_PACKAGE_luci-app-parentcontrol=n
# CONFIG_PACKAGE_luci-app-istoreenhance=n
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-wol is not set
# CONFIG_PACKAGE_luci-i18n-advanced-zh-cn=n
# CONFIG_PACKAGE_luci-i18n-mentohust-zh-cn=n
# CONFIG_PACKAGE_vsftpd-alt is not set
# CONFIG_PACKAGE_xray-core is not set
# CONFIG_WOLFSSL_ALT_NAMES is not set
# CONFIG_WOLFSSL_HAS_AES_CCM is not set
# CONFIG_WOLFSSL_HAS_ARC4 is not set
# CONFIG_WOLFSSL_HAS_CERTGEN is not set
# CONFIG_WOLFSSL_HAS_CHACHA_POLY is not set
# CONFIG_WOLFSSL_HAS_DH is not set
# CONFIG_WOLFSSL_HAS_ECC25519 is not set
# CONFIG_WOLFSSL_HAS_OCSP is not set
# CONFIG_WOLFSSL_HAS_OPENVPN is not set
# CONFIG_WOLFSSL_HAS_SESSION_TICKET is not set
# CONFIG_WOLFSSL_HAS_TLSV10 is not set
# CONFIG_WOLFSSL_HAS_TLSV13 is not set
# CONFIG_WOLFSSL_HAS_WPAS is not set